# js

node_modules

#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk


#Added by cargo
#
#already existing elements are commented out

#/target
#**/*.rs.bk
Cargo.lock

#wasm-pack build
/pkg

#sublime rust plug in specific
**/*tmp*